<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="us.jsy.ads">

    <!-- + ads -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- - ads -->

    <application android:allowBackup="true">

        <!-- + ads -->
        <activity
            android:name="com.google.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
        <activity
            android:name="com.amazon.device.ads.AdActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name="com.millennialmedia.android.MMActivity"
            android:configChanges="keyboardHidden|orientation|keyboard"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <!-- - ads -->
    </application>

</manifest>
